# Ignore node_modules for both backend and frontend
node_modules/

# Ignore build directories
TechNaim-app/build/
TechNaimapp/build/

# Ignore environment files for sensitive information
.env

# Ignore IDE-specific folders
.vscode/
.idea/
